In [1]:
import pandas

In [9]:
data = pandas.read_excel('Complete/Labels.xlsx')
data.set_index('username',inplace=True)
data.Occupation.value_counts()

Performer       451
Politics        329
Professional    264
Sports          208
Creator          93
Businessman      35
Manager           9
Science           8
Religious         3
Performer         1
Name: Occupation, dtype: int64

In [10]:
data.Gender.value_counts()

male      996
female    405
Name: Gender, dtype: int64

In [11]:
data.Birthyear.value_counts()

1800    179
1985     60
1987     56
1984     45
1986     43
1980     40
1982     40
1988     39
1989     36
1990     35
1992     33
1991     29
1977     28
1979     28
1974     27
1981     26
1978     25
1975     25
1976     25
1965     24
1972     23
1973     22
1950     22
1971     21
1970     21
1983     21
1993     21
1959     20
1966     20
1961     20
       ...
1943      5
1947      5
1958      4
1998      4
1937      3
1936      3
1929      2
1945      2
1942      2
1941      2
1924      2
1938      2
1935      2
1922      1
1900      1
1910      1
1923      1
1925      1
1926      1
1927      1
1944      1
1931      1
1932      1
1934      1
1939      1
1940      1
2001      1
1999      1
2002      1
2005      1
Name: Birthyear, Length: 82, dtype: int64